
<div class="container">
    <h1>Supercar Collector</h1>
</div>
<p>{{foobar.car_name}}</p>
<div class='container-left card-block'>
    <h2>Not Yet Owned</h2>
    <table class ="table">
        <tr>
        {{#each foobar}}
            {{#unless this.owned}}
                    <td>
                        {{this.car_name}}
                    </td>
                    <td>
                        <form action="/{{this.id}}?_method=PUT" method="POST">
                            <input type="hidden" name="owned" value="true">
                            <button class="btn btn-success" type="submit">Own it!</button>
                        </form>
                    </td>
                </tr>
            {{/unless}}
        {{/each}}
        </tbody>
    </table>
</div>

<div class="container-middle">
    <h2>Choose a car</h2>
    <form class="create-update-form" action="/" method="POST">
        <div class="form-group">
            <label for="ca">Car Name:</label>
            <input type="text" id="ca" name="name">
        </div>
        <button class="btn btn-default" type="submit">Enter</button>
    </form>
</div>

<div class="container-right">
    <h2>Garage</h2>
    <table class ="table">
        <thead>
        {{#each foobar}}
            {{#if this.owned}}
                <tr>
                    {{this.car_name}}
                    <form action="/{{this.id}}?_method=DELETE" method="POST">
                        <input type="hidden" name="id" value="{{this.id}}">
                        <button type="submit">Sell</button>
                    </form>
                <tr>
                    <br><br>
            {{/if}}
        {{/each}}
</div>